<script type="text/javascript" src="js/currentPlace.js"></script>

<form class="Place-Form">
    <input id="placex" type="text" name="place">
    <input type="submit" value="Set Place" id="SubmitBtn">
</form>

<!-- <form class="TestPlace-Form">
    <input class="TestPlace" type="text" name="Test">
    <input type="submit" value="Set Place" id="TestSubmitBtn">
</form> -->
