<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Ultimate 2K</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Today</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">This Week</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Compare</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/alarms">Set Alarm</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">WeatherPi</a>
      </li>
    </ul>
  </div>
</nav>
