<!DOCTYPE html>
<html>
  <head><% include partials/template/head.ejs %></head>
  <body id="<%= pageID %>">
    <div id="wrapper">
      <% include partials/template/navbar.ejs %>
      <script  src="js/currentMeasurement.js"></script>
      <script src="js/currentWeatherApi.js"></script>
      <br>
      <br>
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="currentTemperature">
            </div>
          </div>
          <div class="col">
            <div class="currentAPI">
            </div>
            <div class="testPlace">
            </div>
          </div>
        </div>





  </div>
</div>
  </body>
</html>
