<!DOCTYPE html>
<html>

<head>
  <% include partials/template/head.ejs %>
</head>

<body id="<%= pageID %>">
  <div id="wrapper">
    <% include partials/template/navbar.ejs %>

      <br>
      <br>
      <div class="container">
        <div class="row">
          <div class="col">
            <script src="js/currentMeasurement.js"></script>
            <div class="currentTemperature">
            </div>
          </div>
          <div class="col">
            <script src="js/currentWeatherApi.js"></script>
            <div class="currentAPI">
            </div>
          </div>
        </div>





      </div>
  </div>
</body>

</html>