<!DOCTYPE html>
<html>

<head>
    <% include partials/template/head.ejs %>
    <script src="js/delete.js"></script>
</head>

<body id="<%= pageID %>">
    <div id="wrapper">
        <% include partials/template/navbar.ejs %>
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <h1>Entries</h1>
                        <table id="temperatures">

                        </table>
                    </div>
                    <div class="col-sm">
                        <h1>Success</h1>
                    </div>
                </div>
            </div>
    </div>
</body>

</html>