<!DOCTYPE html>
<html>

<head>
  <% include partials/template/head.ejs %>
</head>

<body id="<%= pageID %>">
  <div id="wrapper">
    <% include partials/template/navbar.ejs %>
    <script src="js/forecast.js"></script>
      <div class="container">
        <div class="row">
          <div id="firstDay" class="col-sm">
            <h2>City</h2>
            <h3>Temperature</h3>
            <h3>ICON</h3>
            <h3>Date</h3>
          </div>
          <div id="secondDay" class="col-sm">
            <h2>City</h2>
            <h3>Temperature</h3>
            <h3>ICON</h3>
            <h3>Date</h3>
          </div>
          <div id="thirdDay" class="col-sm">
            <h2>City</h2>
            <h3>Temperature</h3>
            <h3>ICON</h3>
            <h3>Date</h3>
          </div>
          <div id="fourthDay" class="col-sm">
            <h2>City</h2>
            <h3>Temperature</h3>
            <h3>ICON</h3>
            <h3>Date</h3>
          </div>
          <div id="fifthDay" class="col-sm">
            <h2>City</h2>
            <h3>Temperature</h3>
            <h3>ICON</h3>
            <h3>Date</h3>
          </div>
        </div>
      </div>

  </div>
</body>

</html>