<!DOCTYPE html>
<html>
  <head><% include partials/template/head.ejs %></head>
  <body id="<%= pageID %>">
    <div id="wrapper">
      <% include partials/template/navbar.ejs %>
    </br>
      <% include partials/content/currenttemperature.ejs %>
    </div>
  </body>
</html>
