<!DOCTYPE html>
<html>
  <head><% include partials/template/head.ejs %></head>
  <body id="<%= pageID %>">
    <div id="wrapper">
      <% include partials/template/navbar.ejs %>
    </br>

    <script  src="js/currentMeasurement.js"></script>

    <form>

        Celsius <input type="radio" name="temperature" checked onclick="celsius()">
        Fahrenheit <input type="radio" name="temperature" onclick="fahrenheit()">
        Kelvin <input type="radio" name="temperature" onclick="kelvin()">

    </form>
    <div class="currentTemperature">
      </div>
    </div>
  </body>
</html>
