<!DOCTYPE html>
<html>
  <head><% include partials/template/head.ejs %></head>
  <body id="<%= pageID %>">
    <div id="wrapper">
      <% include partials/template/navbar.ejs %>

      <script src="js/cloudstatus.js"></script>
      <div class="weatherIcon">
      </div>
      <div class="currentAPI">
      </div>

    </div>
  </body>
</html>
